<div id="home">
 <h1 id="hot">What's Hot!</h1>
   <div class="phones" ng-repeat="x in p | filter:{name:''}">
       <a ng-href="/specs/{{x.name}}">
            <div class="panel panel-default">
                 <div class="panel-heading">{{x.name}}</div>
                 <div class="panel-body">
                  <img  ng-src="{{x.img}}" alt="img"></div>
                 <div class="panel-footer">
                  <p>{{x.price}} EGP</p></div>
            </div>
       </a>
    </div>
       
</div>    