<div ng-repeat="x in p | filter:{name: id}">
    <div id="profile">
        <img ng-src="{{x.img}}" alt="">
        <h1>{{x.name}}</h1>
        <h2>{{x.price}} EGP</h2>
    </div>
    <div class="table">
        <table>
            <tr>
                <th rowspan="4" scope="row">Display</th>
                <td>Type</td>
                <td>{{x.type}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{x.size}}</td>
            </tr>
            <tr>
                <td>Reselution</td>
                <td>{{x.res}}</td>
            </tr>
            <tr>
                <td>Protection</td>
                <td>{{x.protection}}</td>
            </tr>
            <tr>
                <th rowspan="4" scope="row">Platform</th>
                <td>OS</td>
                <td>{{x.os}}</td>
            </tr>
            <tr>
                <td>Chipset</td>
                <td>{{x.chipset}}</td>
            </tr>
            <tr>
                <td>CPU</td>
                <td>{{x.cpu}}</td>
            </tr>
            <tr>
                <td>GPU</td>
                <td>{{x.gpu}}</td>
            </tr>
            <tr>
                <th rowspan="2" scope="row">Memory</th>
                <td>Card Slot</td>
                <td>{{x.card}}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td>{{x.internal}}</td>
            </tr>
            <tr>
                <th rowspan="2" scope="row">Camera</th>
                <td>Primary</td>
                <td>{{x.primary}}</td>
            </tr>
            <tr>
                <td>Secondary</td>
                <td>{{x.secondary}}</td>
            </tr>
        </table>

    </div>

</div>


