<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Mobile Store </h3>
                    <ul>
                        <li> <a href="/location"> Location </a> </li>
                        <li> <a href="#"> Payment plans </a> </li>
                        <li> <a href="#"> Contact Us </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Phones </h3>
                    <ul>
                        <li> <a ng-href="/brands/Samsung"> Samsung </a> </li>
                        <li> <a ng-href="/brands/Huawei"> Huawei </a> </li>
                        <li> <a ng-href="/brands/Lenovo"> Lenovo </a> </li>
                        <li> <a href="#"> Sony </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Tablets </h3>
                    <ul>
                        <li> <a href="#"> Samsung </a> </li>
                        <li> <a href="#"> Huawei </a> </li>
                        <li> <a href="#"> Lenovo </a> </li>
                        <li> <a href="#"> Apple </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Accessories </h3>
                    <ul>
                        <li> <a href="#"> Headphones </a> </li>
                        <li> <a href="#"> Chargers</a> </li>
                        <li> <a href="#"> Cases </a> </li>
                        <li> <a href="#"> Power Banks </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Newsletter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
      
                                <!-- Begin MailChimp Signup Form -->
                                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                                    <style type="text/css">
                                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                    </style>
                                    <div id="mc_embed_signup">
                                    <form action="//ib-r.us15.list-manage.com/subscribe/post?u=1a842c88b3a6bd31338e6334b&amp;id=209317f46d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-group" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">

                                        <input type="email" value="" name="EMAIL" class="email full text-center form-control" id="mce-EMAIL newsletter" placeholder="email address" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1a842c88b3a6bd31338e6334b_209317f46d" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe newsletter " class="button btn bg-gray"></div>
                                        </div>
                                    </form>
                                    </div>

                             <!--End mc_embed_signup-->
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Mobile Store 2017. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>    
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>