<div ng-controller="ctrl" class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container" id="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse">
       
        <a class="brand" id="brand" href="/">Mobile Store</a>
        
        <input ng-keypress="se($event,search.name)"  class="pull-right"  id="search" type="text" placeholder="Search.." ng-model="search.name" ng-blur="blur()">
 
        <ul id="brands" class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brands <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ng-href="/brands/Samsung">Samsung</a></li>
              <li><a ng-href="/brands/Huawei">Huawei</a></li>
              <li><a ng-href="/brands/Asus">Asus</a></li>
              <li><a ng-href="/brands/Nokia">Nokia</a></li>
              <li><a ng-href="/brands/Lenovo">Lenovo</a></li>
              <li><a ng-href="/brands/Mi">Mi</a></li>
              <li class="divider"></li>
              <li><a ng-href="/allbrands">All Brands</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
