<!-- Carousel -->
<ul  rn-carousel rn-carousel-auto-slide rn-carousel-controls-allow-loop rn-carousel-controls class="image">
    <li><img src="../imgs/mix.jpg"></li>
    <li><img src="../imgs/p1-banner.jpg"></li>
    <li><img src="../imgs/banner2.png"></li>
</ul>
<!-- Carousel Ends -->
<div id="home">
 <h1 id="hot">What's Hot!</h1>
   <div class="phones" ng-repeat="x in p | filter:{id:'1'}">
       <a ng-href="/specs/{{x.name}}">
            <div class="panel panel-default">
                 <div class="panel-heading">{{x.name}}</div>
                 <div class="panel-body">
                  <img  ng-src="{{x.img}}" alt="img"></div>
                 <div class="panel-footer">
                  <p>{{x.price}} EGP</p></div>
            </div>
       </a>
    </div>
       
</div>    