<script src="../js/jquery.js"></script>
<script>

</script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="../css/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
<script src="../js/jquery.fancybox.pack.js?v=2.1.6"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="../js/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script src="../js/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script src="../js/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="../js/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script src="../js/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script>
   $(document).ready(function() { 
    $(".fancybox").click(function(){
       alert("h");
    });
  });     
</script>
<a class="fancybox" href="javascript:parent.$.fancybox.open([{href:'../imgs/mate9.jpg',title:'Lorem lipsum'},{href:'../imgs/banner2.png',title:'Banner'}],{openEffect: 'elastic', closeEffect: 'elastic'}
);" rel="gallery1"><img src="../imgs/mate9.jpg" alt="SomeImg"></a>


<a class="fancybox" href="javascript:parent.$.fancybox.open([{href:'../imgs/3-zoom.jpg',title:'Lorem lipsum'},{href:'../imgs/banner2.png',title:'Banner'}],{openEffect: 'elastic', closeEffect: 'elastic'}
);" rel="gallery1"><img src="../imgs/3-zoom.jpg" alt="SomeImg"></a>